@model HrApp.ViewModels.Admin.ResetPasswordViewModel 
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">Password</h4>
</div>
<style>
    .error-block > ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
</style>
<div class="modal-body">
        @Html.ValidationSummary(false, "", new { @class = "text-danger error-block text-center", }, null)
</div>
<div class="modal-footer">
    <button data-dismiss="modal" class="btn btn-primary">Ok</button>
</div>
