@model System.Collections.Generic.IEnumerable<HrApp.Models.TypeLanguage>

@{
    ViewBag.Title = "Language name";
}
<div class="content-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                @foreach (var type in Model)
            {
                    <p>
                        <div class="row">
                            <div class="col-md-8" style="padding-right: 5px">
                                @type.LanguageName
                            </div>
                            <div class="col-md-4" style="padding-left: 0px">
                                <div class="btn-group btn-group-justified">
                                    <a class="btn btn-warning  btn-xs" onclick="location.href='@Url.Action("Edit", "LanguageName", new {id = type.TypeLanguageId}, null)'"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>
                                    <a class="btn btn-danger btn-xs" onclick="location.href='@Url.Action("Delete", "LanguageName", new {typeLanguage = type.TypeLanguageId}, null)'"><span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span></a>
                                </div>
                            </div>
                        </div>
                    </p>
                }
            </div>
        </div>
    </div>
    </div>